@import "colors";

.cart-menu-item {
    position: relative;

    >svg {
        color: $red;
        transition: color 250ms ease-out;
        font-size: 2.3rem;
    }

    &:hover .items-in-cart {
        background-color: #616161;
    }

    &:hover svg {
        color: #616161;
    }
}

.items-in-cart {
    position: absolute;
    border-radius: 100px;
    padding: 0 .5em;
    background-color: $red;
    color: $white;
    min-height: 25px;
    min-width: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -69%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 250ms ease-out;
}

.mobile-in-cart {
    transform: translate(-50%, -50%);
    left: unset;
    right: 3em;
}

.open .mobile-in-cart {
    opacity: 0;
}