@import "colors";
@import "sizes";

.cart {
  background-color: $pink;
  width: 100%;

  >main {
    min-height: 100vh;
    background-color: $white;
    max-width: 900px;
    margin: auto;
    padding: 2rem;

    >article {
      padding: 2rem;

      >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: .75rem 0;

        >h4 {
          margin-bottom: 0;
        }

        >p {
          margin-bottom: 0;
        }

        & .total-amount {
          font-size: 1.4em;
          font-weight: bold;
        }
      }

      >a.link {
        background-color: $red;
        color: $white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        text-align: center;
        margin-top: 2rem;
        align-self: flex-end;
      }

      >hr {
        margin: .5em 0;
      }
    }
  }
}

.cartItem {
  background-color: rgb(246, 246, 246);
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;

  >div {
    display: flex;
    align-items: center;

    >h4 {
      font-weight: 200;
      letter-spacing: 1px;
      margin-bottom: 0;
      min-width: min-content;
    }

    >img {
      height: 50px;
    }

    >input {
      text-align: center;
      width: 2.8rem;
      padding: 0.5rem;
      border: none;
      margin: 0 0.25rem;
      outline: none;
      border-radius: 5px;
      color: $red;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0%;
      }
    }

    >button {
      cursor: pointer;
      border: none;
      padding: 0.5rem;
      background-color: $dark;
      color: $white;
      border-radius: 5px;
      min-width: 2em;
    }


  }
}

.price {
  min-width: max-content;
}

.cart-empty {
  margin-top: 5em;

  >svg {
    font-size: 7em;
  }


  >p>a {
    border-color: $red;
    color: $red;
    text-transform: none;

    &:hover,
    &:focus,
    &:active {
      color: $reddark !important;
      border-color: $reddark !important;
    }
  }

}

@media screen and (max-width: $mobile) {
  .cart>main>article>a {
    float: none;
    display: block;
    width: 100%;
  }

  .cartItem {
    &__title {
      h4 {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .confirm-order {
    flex-direction: column;

    .cartItem__title {
      width: 100%;
      justify-content: space-between;

      h4 {
        font-size: 1em;
      }
    }
  }

  .cart-item-add {
    .cartItem__title {
      flex-direction: column;

      h4 {
        font-size: 1em;
      }

      img {
        height: 40px;
        align-self: flex-start;
      }
    }
  }

  .price {
    margin-top: .5em;
  }
}


/* Remove arrows from number inputs from Cart */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}