@import "colors";

.dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-toggle {
  svg {
    margin-right: .3em;
  }
}

#dropdown-toggle,
.btn-login {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $red;
  border: none;
  color: $white;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#dropdown-toggle:hover,
.btn-login:hover {
  background-color: $reddark;
}

.btn-login {
  & svg {
    margin-left: .2em;
  }
}

.dropdown-item {
  font-size: 1rem;
}