@import "colors";
@import "sizes";

nav {
  position: relative;
  height: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;

  >div {
    display: flex;
    align-items: center;

    >a {
      margin: 0 2rem;
      color: $dark;
      transition: color 0.3s;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        color: $lightdark;
      }
    }
  }

  .mobile-icon {
    position: absolute;
    display: none;
    right: 1.6rem;
    top: 1.6rem;
    font-size: 2em;
    color: $red;
    cursor: pointer;
  }

  a.active {
    position: relative;
    color: $red;

    &:not(a[href="/cart"])::after {
      content: "";
      position: absolute;
      top: 110%;
      left: 10px;
      right: 10px;
      border-bottom: 1px solid $red;
    }

  }
}

#logo-with-text {
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: $red;
  font-weight: bold;
  font-size: 1.4em;
  margin-left: 0;

  >svg {
    color: $red;
    transition: inherit;
    font-size: 2.4em;
  }

  &:hover {
    svg {
      color: $lightdark;
    }

    color: $lightdark;
  }

  .logo-text {
    margin-bottom: .2em;

    span {
      line-height: .92em;

      &:nth-child(1) {
        margin-left: .15em;
      }
    }

    display: flex;
    flex-direction: column;
  }
}

// Main breakpoint to mobile device: 864px
@media screen and (max-width: $mobile) {
  nav {
    height: auto;
    flex-direction: column;
    padding: 1rem;

    #logo-with-text {
      margin-right: 0;
    }

    .menu-items {
      width: 100%;
      display: none;
      flex-direction: column;

      a {
        padding: 1.5em 0;
        width: 100%;
        justify-content: center;
      }

      a+a {
        border-top: 1px solid rgba(0, 0, 0, .2);
      }
    }

    .mobile-icon {
      display: block;
    }
  }

  .open {
    .menu-items {
      display: flex;
    }

    .mobile-icon {
      color: $reddark;
    }
  }

  a.active::after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  nav {
    >div>a {
      margin: 0 0.5rem;
    }
  }
}