@import "colors";

nav {
  height: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
  background-color: $white;

  >div {
    display: flex;
    align-items: center;

    >svg {
      color: $red;
      font-size: 3rem;
    }

    >a {
      margin: 0 2rem;
      color: $dark;
      transition: color 0.3s;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-weight: bold;

      &:hover {
        color: $lightdark;
      }

      >svg {
        color: $red;
        transition: inherit;
        font-size: 2rem;

        &:hover {
          color: $lightdark;
        }
      }
    }
  }
}

#logo-with-text {
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: $red;
  font-weight: bold;
  font-size: 1.4em;
  margin-left: 0;

  >svg {
    color: $red;
    transition: inherit;
    font-size: 2.4em;
  }

  &:hover {
    svg {
      color: $lightdark;
    }

    color: $lightdark;
  }

  .logo-text {
    margin-bottom: .2em;
    span {
      line-height: .92em;

      &:nth-child(1) {
        margin-left: .15em;
      }
    }

    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 1rem;

    >div>a {
      margin: 0 0.5rem;
    }
  }
}