@import "colors";
@import "sizes";

.home {
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: $white;

  div {
    >h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    >p {
      font-size: 1.2rem;
    }
  }

  >a {
    display: block;
    margin: 2rem 0;
    width: 10rem;
    background-color: $red;
    color: $white;
    text-align: center;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $reddark;
      color: rgba(255, 255, 255, .8);
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    position: fixed;
    left: 0%;
    z-index: -1;
  }
}

@media screen and (max-width: $mobile) {
  .home {
    >div {
      text-align: center;
      padding-left: 0rem;
    }

    >a {
      margin: 2rem auto;
    }

  }
}