@import "colors";

.login-container {
    max-width: 500px !important;

    label[for=rememberMe] {
        margin-bottom: 0 !important;
    }

    .btn-social {
        min-width: fit-content;
    }

    ul .active {
        background-color: $pink !important;
        color: $red !important;
    }

    .tab-pane a {
        color: $red;
    }

    .tab-pane i {
        background-color: $pink;
        color: $red;
    }

    .form-check-input[type=checkbox]:checked,
    .form-check-input[type=checkbox]:checked:focus {
        background-color: $red;
        border-color: $reddark;
    }



}

.not-a-member {
    >a {
        color: $red;
        cursor: pointer;
    }
}

.badge {
    white-space: unset;
}