@import "colors";

.login-container {
    max-width: 500px !important;

    label[for=rememberMe] {
        margin-bottom: 0 !important;
    }

    .btn-social {
        min-width: fit-content;
    }

}

.not-a-member {
    >a {
        color: $red;
        cursor: pointer;
    }
}