@import "colors";

h4.detail-title {
    margin: 0 auto;
    margin-bottom: 1em;
    padding: .5em 0;
    width: 95%;
    color: $red;
    text-align: center;
    border-bottom: 1px solid $red;
}

.shipping-data {
    text-align: right;
}

.shipping-details {
    h6 {
        margin: 0 !important;
    }

    >div {
        align-items: center !important;
        padding: .3em 0 !important;
    }

    .email {
        word-break: break-all;
    }
}

@media screen and (max-width: 660px) {
    .shipping-details {
        padding: 0 !important;

        >div {
            flex-direction: column;
            margin-bottom: .5em !important;

            h6 {
                align-self: center !important;
            }

            .shipping-data {
                text-align: center;
                max-width: unset;
            }
        }
    }
}